<app-header></app-header>
<div class="container">
    <div class="p-4 m-4">
        <!-- <h5>Nicolas Rincon Mujica</h5> -->

        <!-- IMPORT COMPONENT HEADER-->


        <!-- <ul> -->
        <!-- {{}} : INTERPOLACION -->
        <!-- <li>Nombre: {{ nombre}}</li> -->
        <!-- <li>Apellidos: {{ apellidos }} </li> -->
        <!-- </ul> -->

        <!-- IMPORT COMPONENT BODY-->

        <app-body></app-body>

    </div>
</div>

<app-footer></app-footer>